<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template
    ngbSlide
    *ngFor="let carouselItem of carouselItems"
  >
    <div class="item">
      <img
        [src]="carouselItem.MovieBannerUrl"
        class="img-fluid carousel-image"
        alt="Random first slide"
      />

      <div class="overlay">
        <div class="carousel-caption">
          <h3>{{ carouselItem.MovieDetail.MovieName }}</h3>
          <p>
            <span class="tags">{{ carouselItem.MovieDetail.RunningTime }}</span>
            <span class="tags">{{ carouselItem.MovieDetail.Quality }}</span>
            <span class="tags">{{ carouselItem.MovieDetail.Country }}</span>
            <span class="tags">{{ carouselItem.MovieDetail.ReleaseYear }}</span>
          </p>

          <p class="text-white w-50">
            {{ carouselItem.MovieDetail.MovieSummary }}
          </p>

          <div class="btn btn-primary btnSet">
            <a
              class="text-white text-decoration-none"
              href="www.tamildbox.best/watch/{{
                carouselItem.MovieDetail.MovieName
              }}"
            >
              <span class="fa fa-play"></span> Watch now
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
