<div class="container main">
  <!-- Main component for a primary marketing message or call to action -->
  <app-carousel class="container-fluid content"></app-carousel>

  <div p-4 class="container-fluid content">
    
    <p class="h3 text-dark float-left">Suggestions</p>
    
    <div style="float: right;">
      <ul class="nav nav-pills">
        <li><a class="nav-item accordion ml-1 mr-1">New Releases</a></li>
        <li><a class="ml-1 mr-1">Featured</a></li>
        <li><a class="ml-1 mr-1">Most viewed</a></li>
        <li><a class="ml-1 mr-1">Most Rated</a></li>
      </ul>
    </div>
    
    <div class="clearfix"></div>

    <app-items-control></app-items-control>
    
  </div>

  <div p-4 class="container-fluid content">
    
    <p class="h3 text-dark float-left">Latest Movies</p>
    
    <div class="clearfix"></div>

    <app-items-control></app-items-control>
    
  </div>

  <br />

  <sxm-video> </sxm-video>
  
</div>
