<footer class="footer bg-dark pt-4 pb-4">
  <section
    class="text-primary"
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: 3em;
    "
  >
    <a class="d-table w-25" href=""></a>
    <div style="flex: 1;">
      <p>How Works</p>
      <p>How Works</p>
      <p>How Works</p>
      <p>How Works</p>
    </div>
    <div style="flex: 1;">
      <p>How Works</p>
      <p>How Works</p>
      <p>How Works</p>
      <p>How Works</p>
    </div>
  </section>
  <section>
    <p class="text-center" style="padding-top: 10px;">
      Copyright © 2020 Dinesh Kumar
    </p>
  </section>
</footer>
